{% extends 'base.html' %}
{% block content %}

<h1>New Item</h1>

<form method="POST">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter your information:</legend>

        {{ form.name.label }} {{ form.name }}<br>
        {{ form.price.label }} {{ form.price }}<br>
        {{ form.category.label }} {{ form.category }}<br>
        {{ form.photo_url.label }} {{ form.photo_url }}<br>
        {{ form.store.label }} {{ form.store }}<br>
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}
